<%- include header %>
<% if(posts){ %>
<% posts.forEach(function (post,idnex) { %>
	<p>
		<h2><a href="/user/<%= post.name %>/<%= post.timeStamp %>/<%= post.title %>"><%- post.title %></a></h2>
	</p>
	<p class="info">
		作者：<a href='/user/<%= post.name %>'><%- post.name %></a>
		日期：<span><%- post.time.minute %></span>
	</p>
	<p><%- post.cont %></p>
<% }) %>
<% }%>
<%- include footer %>
			
			
  
